<ion-view view-title="">
    <ion-content class="welcome">
        <div class="welocme-contents">
            <img class="img-logo" src="img/logo2.png">
            <!--   <img class="img-shadow" src="img/set-shadow.png">-->
            <!--<h2>App Name</h2>-->
        </div>
        <div class="login-btn">

            <a href="#/login" class="button button-block button-positive ">
                Sign in
                </a>
             <a href="#/signup" class="button button-block button-positive ">
                Sign up
                </a>
        </div>
    </ion-content>
</ion-view>